<h2> List all available templates </h2>
<%= link_to "Add New template", new_admin_template_path %>
<table width="100%" align="center" cellspacing=10 cellpadding=10>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Width</th>
		<th>Color</th>
		<th>Edit</th>
	</tr>
	<% @templates.each_with_index do |template, index|%>
	<tr>
		<td><%= index +1 %></td>
		<td><%= template.name %></td>
		<td><%= template.width %></td>
		<td> <span class="small_box" style="background-color:<%= template.color %>;">&nbsp;</span></td>
		<td> <%= link_to "Edit", edit_admin_template_path(template)%></td>
	</tr>
	<% end %>
</table>
