<h2> List all available pages </h2>
<%= link_to "Add New page", new_admin_page_path, :class => "button link blue" %>
<table class="table">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Slug</th>
		<th>Manage widgets</th>
	</tr>
	<% @pages.each_with_index do |page, index|%>
	<tr class=<%=cycle("odd","even")%> >
		<td><%= index +1 %></td>
		<td><%= page.name %></td>
		<td><%= page.slug %></td>
	<td> <%= link_to "(+) Widgets", admin_page_widgets_path(page) %> </td>
	</tr>
	<% end %>
</table>
