<h1> Create a New Page </h1>
<p> Form a layout by adding different placeholders. </p>

<div class="admin_form">	
	<%= form_tag admin_pages_path do %>
		<div class="element">
			<label for"page_name">Name</label>
			<%= text_field :page, :name %>
		</div>
		<div class="element">
			<label for"page_slug">Slug</label>
			<%= text_field :page, :slug %>
		</div>		
		<div class="form_end">
			<%= submit_tag "Create"%>
		</div>	
	<% end %>
</div>
<br/>
<input type="button" id="add_placeholder" value="Add Placeholder"/>

<div id="build_layout">
	<div id="available_placeholders">
		<div data-width="966" class="width_966">F</div>
		<div data-width="485" class="width_485">C</div>
		<div data-width="300" class="width_300">B</div>
		<div data-width="165" class="width_165">A</div>	
	</div>	
	<div id="page_layout">
	</div>
</div>

<%= content_for :internal_javascript do %>
	$("#available_placeholders div").click(Admin.selectPlaceholder);
	$("#add_placeholder").click(Admin.addPlaceholder);
<% end %>	