<h2> Create a New Page </h2>
<p> Form a layout by adding different placeholders. </p>

	<%= form_tag admin_pages_path, :class => "form_default" do %>
		<%= render :partial => "form" %>
		<div id="placeholders"style="display:none;">
		</div>		
	<% end %>
<br/>
<input type="button" id="add_placeholder" value="Add Placeholder"/>
<input type="button" id="clear_placeholder" value="Clear Placeholder"/>

<div id="build_layout">
	<div id="available_placeholders">
		<% @grids.each do |grid| %>
			<%= content_tag :div, 
				:class => "width_#{grid.width}",
				:style => "background-color:#{grid.color}", 
				"data-width" => grid.width,
				"data-template_id" => grid.id do %>
					<%= grid.name %> <%= grid.width %>
					<% end %>
		<% end %>
	</div>	
	<div id="page_layout">
	</div>
</div>

<%= content_for :internal_javascript do %>
	Admin.initilizePage();
<% end %>	