<h2> Manage Widget Collections</h2>
<% @widget.collections.each do |collection| %>	
	<div class="element">
		<label for"collection_category">Type</label>
		<%= select :collection, :category, Collection.types %>
	</div>
	<div class="element">
		<label for"category">Category</label>
		<%= select_tag :category, options_from_collection_for_select(@categories, "id", "name"), {:prompt => "None"} %>
	</div>		
	<div class="element">
		<label for"language">Language</label>
		<%= select_tag :language, options_from_collection_for_select(@languages, "id", "name"), {:prompt => "None"} %>
		<input type="button" id="get_refinement" value="List" class="button large green"/>
	</div>	
	
	

			<div class="element video_group">
				<label>Available List</label>
				<div id="collection_list" class="collection_list"></div>	
			</div>		
			<div class="element video_group">
				<label>Selected List</label>	
					<%= render :partial => "collection_list", 
						:locals => {:collection => collection} %>
			</div>

<% end %>

<%= content_for :internal_javascript do %>
	$("#collection_list div").live("click",function(e) {
			var target = $(e.target);
			$('<input>').attr({
			    type: 'checkbox',
			    name: 'collection[data][]',
			    value: target.data('id')
			    }).prependTo(target);
			$("#add_to_list").append(target);	    
	});
	$("#get_refinement").click( function(e) {
		var queryData = {};
		queryData["type"] = $("#collection_category").val();
		queryData["category"] = $("#category").val();
		queryData["language"] = $("#language").val();
		$.ajax({
				type: "GET",
				url: "<%=admin_refinement_path%>",
				data: queryData,
				success: function(resp) {
					$("#collection_list").html(resp);	
				}
			});
		});
	$('#load_more_refinement').live('ajax:success', function(event, data){
		$(event.target).remove();
		$("#collection_list").append(data);
	});	
	
			
<% end %>	
