<h2> Edit widget </h2>
<%= form_tag admin_widget_path(@widget), :method => :put, :class => "form_default"  do %>
<div class="form_data">	
<div class="element">
	<label for"widget_name">Name</label>
	<%= text_field :widget, :name %>
</div>
<div class="element">
	<label for"widget_width">Width</label>
	<%= text_field :widget, :width, :readonly => true, :disabled => true %>
</div>
<div class="element">
	<label for"widget_width">Filename</label>
	<%= text_field :widget, :filename, :readonly => true, :disabled => true %>
</div>
	
	<div class="element">
		<% if @widget.widget_type == WidgetType::TYPES["Advertisement"] %>
			<label for"widget_code">Ad Script</label>
			<%= text_area :widget, :style, :rows => 5, :cols => 40 %>
		<% else %>
			<label for"widget_code">Widget Styles</label>
			<%= text_area :widget, :style, :rows => 5, :cols => 40 %>
		<% end %>
	</div>
	<div class="element">
		<% if @widget.widget_type == WidgetType::TYPES["Video slider"] %>
			<%= render :partial => "collection"%>
		<% end %>		
	</div>	
	<div class="form_save">
		<%= submit_tag "Save", :class => "button large green" %>
		<%= link_to "Cancel", edit_admin_widget_path(@widget), :class => "button link  blue"%>
	</div>
</div>	
<% end %>
