<h2> Add a new widget </h2>
<%= form_tag admin_widgets_path, :class => "form_default" do %>
<div class="form_data">	
<%= render :partial => "form", :locals => {:new_form => true}%>
<div class="element">
	<label for"widget_filename">Widget Type</label>
<%= select("widget", "widget_type", 
	options_for_select(WidgetType.all.collect {|w| [ w.name, w.id ] }),
	 {:prompt => 'Widget Type'}) %>
</div>
<div class="form_save">
	 <%= submit_tag "Save", :class => "button large green"%>
	 <%= link_to "Cancel", admin_widgets_path, :class => "button link  blue"%>
</div>
</div>
<% end %>