<% collection = widget.collections.first 
   model = collection.category.constantize	
-%>
<div class="video_slider_485">
	<div class="widget_title">
		<h2 class="left"><%=widget.name%></h2>
			<div class="arrow right">
				<span class="slide_left">&lt;</span>
				<span class="slide_right">&gt;</span>
			</div>	
	</div>	
	<div class="container">
		<% unless collection.data.blank?
		model.find(collection.data).each do |item|%>
		<div class="item">
			<%= image_tag "/assets/video_camera.png", :size => "119x80"%>
			<%=link_to item.name.truncate(15), "#", :alt => item.name %>	
		</div>
		<% end %>
		<% end %>
	</div>	
</div>

<%= content_for :internal_javascript do %>
	$("#widget_<%=placeholder.id%>_<%=widget.id%> div.widget_title .arrow span").click(Page.initFourSlider);
<% end %>	
	