<h2> List all available grids </h2>
<%= link_to "Add New Grid", new_admin_grid_path %>
<table class="table">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Width</th>
		<th>Color</th>
		<th>Edit</th>
	</tr>
	<% @grids.each_with_index do |grid, index|%>
	<tr class=<%=cycle("odd","even")%> >
		<td><%= index +1 %></td>
		<td><%= grid.name %></td>
		<td><%= grid.width %></td>
		<td> <span class="small_box" style="background-color:<%= grid.color %>;">&nbsp;</span></td>
		<td> <%= link_to "Edit", edit_admin_grid_path(grid)%></td>
	</tr>
	<% end %>
</table>
