<h2>Widgets Under <%=@page.name%></h2>
	<% rows = 0
		available_width = [] 
	    @page.placeholders.each do |placeholder|  
	    rows = rows + 1 if rows != placeholder.row
		grid = placeholder.grid
		available_width << grid.width
	%>
		<%= content_for "option_#{placeholder.row}" do %>
			<%= content_tag :option, grid.name, 
				:value => placeholder.id,
				"data-width" => grid.width %>
		<% end %>
		
		<%= content_for "row_#{placeholder.row}" do %>
		<%= content_tag :div, 
					:class => "width_#{grid.width} column",
					:style => "background-color:#{grid.color}" do %>
					<div class="grid_name"><%=grid.name%> <%=grid.width%> </div>	
					<%= render :partial => "list", 
						:locals => {:placeholder => placeholder, :grid => grid}  %>						
				<% end %>
		<% end -%>
	<% end %>

<%= form_tag admin_page_widgets_path(@page), :class => "form_default" do %>
<p> <%= flash[:notice]%> </p>	
<p> <%= flash[:errors]%> </p>
<div class="form_data">	
<div class="element">	
<select id="placeholder" name="placeholder">
	<option value="">Select a placeholder</option>
    <% rows.times do |row| -%>
    	<optgroup label="<%="Row  #{row+1}"%>">
    		<%= yield "option_#{row+1}" %>
    	</optgroup>
    <% end -%>	 
</select>

<select id="widget" name="widget">
	<option value="">Select widget</option>
	<% option_tags_for_widgets(available_width).each do |option| %>
		<%= option %>
	<% end %>
</select>	
	 
<%= submit_tag "Add Widget", :class => "button large green"%>
</div>
</div>
<% end %>
	
<div id="place_widget">
	<% rows.times do |row| -%>
		<%= content_tag :div,
			:class => "row" do %>
			<%= yield "row_#{row+1}" %>
		<% end %>
	<% end -%>	
</div>

<%= content_for :internal_javascript do %>
	Admin.page.initPlaceWidget();
<% end %>	
	
