<h2> List all available videos </h2>
<%= link_to "Add New Video", new_admin_video_path, :class => "button link blue" %>
<table class="table">
	<tr>
		<th>#</th>
		<th>Name</th>
		<th>Thumbnail</th>
		<th>Description</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @videos.each_with_index do |video, index|%>
	<tr class=<%=cycle("odd","even")%> >
		<td><%= index +1 %></td>
		<td><%= video.name %></td>
		<td><%= video.thumbnail %></td>
		<td><%= video.description %></td>
		<td> <%= link_to "Edit", edit_admin_video_path(video)%></td>
		<td> <%= link_to "Delete", admin_video_path(video), :method => :delete, :confirm => "Are you sure?"%></td>
	</tr>
	<% end %>
	<%= will_paginate @videos %>
</table>
