<!DOCTYPE html>
<html>
<head>
  <title>BitsProject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main_container">
	<%= yield %>
</div>

<%= javascript_tag do -%>
	$(document).ready( function () {
		<%= yield :internal_javascript -%>
	});
<% end %>

</body>
</html>
