<!DOCTYPE html>
<html>
<head>
  <title>BitsProject</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main_container">
	<div id="navigation">
		<ul>
			<li><%= link_to "Pages", admin_pages_path %></li>
			<li><%= link_to "Grids", admin_grids_path %></li>
			<li><%= link_to "Widgets", admin_widgets_path %></li>
	</div>
	<%= yield %>
</div>

<%= javascript_tag do -%>
	$(document).ready( function () {
		<%= yield :internal_javascript -%>
	});
<% end %>

</body>
</html>
