<!DOCTYPE html>
<html>
<head>
  <title>BitsProject</title>
  <%= stylesheet_link_tag  "page" %>
  <%= javascript_include_tag "application",
  							 "page"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= yield %>
<style type="text/css">
	<%= yield :internal_css %>
</style>
<%= javascript_tag do -%>
	$(document).ready( function () {
		<%= yield :internal_javascript -%>
	});
<% end %>
</body>
</html>
