<!DOCTYPE html>
<html>
<head>
  <title>BitsProject</title>
  <%= stylesheet_link_tag  "page" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<style type="text/css">
	<%= yield :internal_css %>
</style>
</body>
</html>
